.card {
  aspect-ratio: 1/1.36;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coverLoading {
  height: 88%;
  background-color: var(--moby-dick);
  overflow: hidden;
  border-radius: 4px;
}

.titleLoading {
  height: 6%;
  width: 80%;
  background-color: var(--moby-dick);
  overflow: hidden;
  border-radius: 4px;
}

.loader::before {
  content: "";
  display: block;
  width: 200%;
  background: var(--botticelli-gradient);
  height: 100%;
  transform: translateX(0);
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}
