:root {
  --white: #fff;
  --athens-gray: #f2f5f7;
  --aqua-haze: #edf1f5;
  --alabaster: #fbfbfb;
  --mystic: #e3eaf0;
  --botticelli: #c9d7e3;
  --moby-dick: #dde6ee;
  --casper: #adc0d2;
  --bali-hai: #8ba0b2;
  --slate-gray: #748899;
  --pale-sky: #647380;
  --blue-bayoux: #506070;
  --shuttle-gray: #516170;
  --malibu: #6fc8ff;
  --picton-blue: #43b6f2;

  --botticelli-gradient: linear-gradient(
    90deg,
    rgba(221, 230, 238, 0) 0,
    rgba(8, 143, 214, 0.06) 40%,
    rgba(8, 143, 214, 0.06) 60%,
    rgba(221, 230, 238, 0)
  );

  --input-box-s: 0px 14px 30px rgba(103, 132, 187, 0.1),
    0px 4px 4px rgba(103, 132, 187, 0.04);
}
