.search {
  text-transform: capitalize;
  width: 100%;
}

.head {
  font-size: 15px;
  line-height: 17px;
  color: var(--shuttle-gray);
}

.search__wrap {
  position: relative;
  margin-top: 10px;
}

.search__item {
  padding: 11px 16px;
  padding-right: 36px;
  border-radius: 6px;
  background-color: var(--alabaster);
  box-shadow: var(--input-box-s);
  font-size: 13px;
  font-weight: 600;
  color: var(--bali-hai);
  min-width: 140px;
  -webkit-text-fill-color: var(--bali-hai);
  opacity: 1;
}

.search__item__icon-right {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 13px;
  font-weight: 100;
  color: var(--botticelli);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.search__item__icon-right::before {
  display: block;
  font-family: "icomoon";
}

.search__item__icon-right:hover::before {
  color: var(--casper);
}

.search__item::placeholder {
  color: var(--casper);
  font-weight: 600;
  line-height: 15px;
}
