.panel {
  display: flex;
  gap: 0 20px;
}

.filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.search {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.switcher {
  display: none;
  align-self: flex-end;
  min-width: 37px;
  height: 37px;
  border-radius: 6px;
  box-shadow: var(--input-box-s);
  background-color: var(--input-bc);
  cursor: pointer;
}

.switcher::before {
  content: "\e992";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--input-icon);
  font-family: "icomoon";
  font-weight: 100;
  font-size: 20px;
}

.active::before {
  color: var(--input-icon-active);
}

@media (min-width: 768px) and (max-width: 991px) {
  .panel {
    flex-wrap: wrap;
  }

  .search {
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .filters {
    width: 100%;
    padding: 20px 0;
  }

  .switcher {
    display: block;
  }
}

@media (max-width: 767px) {
  .panel {
    flex-wrap: wrap;
  }

  .search {
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .filters {
    padding: 20px 0;
    width: 100%;
  }

  .switcher {
    display: block;
  }

  .filters {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .panel {
    flex-wrap: wrap;
  }

  .search {
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .filters {
    padding: 20px 0;
    width: 100%;
  }

  .switcher {
    display: block;
  }

  .filters {
    grid-template-columns: repeat(1, 1fr);
  }
}
