.down::before {
  content: "\f078";
}

.options {
  position: absolute;
  z-index: 999;
  top: calc(100% + 10px);
  display: flex;
  flex-direction: column;
  gap: 4px 0;
  padding: 10px 10px;
  border-radius: 6px;
  width: 100%;
  box-shadow: var(--input-box-s);
  background-color: var(--input-bc);
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  color: var(--input-txt);
  cursor: pointer;
  transition: all 0.2s linear;
}

.option:hover {
  background-color: var(--option-hover-bc);
  color: var(--option-hover-text);
}

.selected::after {
  content: "\f058";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  font-family: "icomoon";
  color: var(--input-icon-active);
}

.multiply {
  position: absolute;
  top: 50%;
  left: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 4px;
  transform: translateY(-50%);
  font-size: 12px;
  cursor: pointer;
}

.multiplyName,
.multiplyCount {
  padding: 4px 6px;
  border-radius: 4px;
  background-color: var(--counter-bc);
  color: var(--counter-text);
}

.pointer {
  cursor: pointer;
}

.clear::before {
  content: "\f00d";
}
